body {
  background-color: black;
}

.background {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 640px) {
  .background {
    min-height: 48rem;
  }
}
@media (min-width: 890px) {
  .background {
    min-height: 44rem;
  }
}
@media (min-width: 1400px) {
  .background {
    max-height: 47rem;
  }
}
@media (min-width: 2090px) {
  .background {
    max-height: 10rem;
  }
}
@media (max-width: 640px) {
  .background {
    top: 8rem;
    min-height: 23rem;
  }
}