.poster {
  position: relative;
}

.image {
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 16 / 9;
}

.poster:hover {
  /* transform: scale(1.84); */
  transform: scale(1.35);
  transition: ease-in-out 0.5s;
  z-index: 1;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 1rem;
}

.image-overlay:hover {
  opacity: 1;
}