.button {
  padding: 0.6rem;
  width: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: rgba(192, 192, 192, 0.3);
}
