.shadow {
  display: block;
  position: absolute;
  z-index: -20;
  width: 100%;
  transition: ease;
}

.background {
  width: 100%;
  object-fit: cover;
  transition: ease;
}

.shadow:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-box-shadow: inset 0px 0px 34px 34px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 0px 0px 34px 34px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 34px 34px rgba(0, 0, 0, 1);
}

@media (min-width: 640px) {
  .shadow,
  .background {
    min-height: 48rem;
  }
}
@media (min-width: 890px) {
  .shadow,
  .background {
    min-height: 44rem;
  }
}
@media (min-width: 1400px) {
  .shadow,
  .background {
    max-height: 47rem;
  }
}
@media (min-width: 2090px) {
  .shadow,
  .background {
    max-height: 10rem;
  }
}
@media (max-width: 640px) {
  .shadow,
  .background {
    min-height: 23rem;
  }

  .home {
    top: 8rem;
  }

  .trailer {
    top: 117rem;
  }
}
