.recommended-movie {
  padding: 1rem 2rem;
}

.recommended-movie:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.cut-text {
  color: white;
  font-size: 1.125rem;
  margin-top: 2.5rem;
  overflow: hidden;
  max-width: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.selected-nav {
  position: relative;
  display: flex;
  justify-content: center;
}

.selected-nav::after {
  content: url("../../../assets/rectangle.svg");
  position: absolute;
  top: 25px;
}

@media (min-width: 645px) {
  .recommended-movie {
    height: 670px;
    /* padding: 0 1rem; */
  }
}
@media (min-width: 1024px) {
  .recommended-movie {
    flex-direction: row;
  }
}
@media (min-width: 1220px) {
  .recommended-movie {
    padding: 1rem 2rem;
  }
}
@media (min-width: 1300px) {
  .recommended-movie {
    height: 700px;
  }
}
@media (min-width: 1650px) {
  .recommended-movie {
    height: 690px;
  }
}
@media (max-width: 640px) {
  .recommended-movie {
    min-height: 23rem;
  }
}
